@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.app
{
    font-family: Poppins;
}
button
{
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
h1
{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
body
{
    background-color: #bc70d4;
}
img
{
    max-width: 25%;
    height: auto;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
.buttons
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.noBtn
{
    background-color: #ff6961;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 400;
}
.yesBtn
{
    background-color: #77dd77;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 400;
}
.swal-button
{   
    font-size: 40px;
    background-color: pink;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
}
.swal-modal {
    
    background-color: pink;
    border-radius: 50px;
}
.swal-title {
    font-family: Poppins;
    font-weight: 700;
}
