button
{
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
h1
{
    text-align: center;
    font-size: 50px;
}
body
{
    background-color: #F8C8DC;
}
.center 
{
    display: block;
    margin-left: 42%;
    margin-right: auto;
}  
.buttons
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.noBtn
{
    background-color: #ff6961;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
}
.yesBtn
{
    background-color: #77dd77;
    font-size: 50px;
}
